.authBox {
  font-family: 'Josefin Slab', serif;
  background-color: rgb(219, 147, 13);
  height: 20vw;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
}

.AuthPage h3 {
  color: blanchedalmond;
  text-align: center;
  cursor: pointer;
  padding-top: 2vw;
  margin-bottom: -2vw;
}

h3:hover{
  color: black;
}