.authBox {
  background-color: red;
  margin-top: -1.3vw;
  height: 20vw;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
}

.AuthPage h3 {
  font-weight: 800;
  color: var(--o);
  text-align: center;
  cursor: pointer;
}