.AuthPage {
    height: 80%;
    width: 100%;
    font-size: 3rem;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // border-radius: 2vmin;
    margin-bottom: 5vmin;
  }
  
  .AuthPage h3 {
    // border: .3vmin solid blanchedalmond; 
    font-weight: 800;
    color:blanchedalmond;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 4vmin;
    text-align: center;
    // color: blanchedalmond;
    cursor: pointer;
    margin-left: 15%;
    margin-right: 15%;
  }
 
  .AuthPage div{
    margin-top: 7vmin;
    margin-bottom: 7vmin;
    // max-width: 100vmin;
    margin-left: 15%;
    margin-right: 15%;
  }
