.OrderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .2vmin solid blanchedalmond;
    margin: 3vmin 0;
    padding: 3vmin;
    }
    
    .OrderList .noOrders {
    color: black;
    font-size: 4vmin;
    }