.OrderListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    color: blanchedalmond;
    border: .2vmin solid blanchedalmond;
    font-size: 4vmin;
    cursor: pointer;
    }
    
    .OrderListItem > div> div:first-child {
    margin-bottom: .5vmin;
    }
    
    .OrderListItem.selected {
    color: black;
    background-color: blanchedalmond;
    border-width: .2vmin;
    cursor: pointer;
    font-weight: 1000;
    }

    .smaller.selected{
        color: black;
    }

    
    .OrderListItem:not(.selected):hover {
        color: black;
        background-color: blanchedalmond;
        border-width: .2vmin;
        cursor: pointer;
        font-weight: 1000;
    }