.MenuListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  padding-left: 4vw;
  padding-right: 4vw;
  color: black;
}


.MenuListItem .buy {
  display: flex;
  flex-direction: row;
}

.MenuListItem .buy span {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 2.5vw;
  text-align: center;
  color: var(--o);
}

.MenuListItem .name {
  font-size: 2.5vw;
  text-align: center;
}

.emoji{
  font-size:2vw;
}