.start{
    height: 16vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: .1vw solid blanchedalmond;
    margin-top: -.2vw;
}

.left{
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: 50%;
    float: left;
    align-items: center;
    background-color: #23242c;
    color: var(--o);
    font-size: 3.5vw;
    height: 100%;
}
.right{
    display: flex;
    width: 50%;
    float: right;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    background-color: blanchedalmond;
    color: #000;
    height: 100%;
}

