nav {
    height: 10%;
    width: 100%;
    background-color: black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: .2vmin solid blanchedalmond;
}
span {
    color: blanchedalmond;
}