.MenuList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ecd3bf;
    border: .1vw solid black;
    margin: 1.3vw .2vw;
    padding: 3vw;  
}
