.MenuList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ecd3bf;
    padding: 3vw;
    margin: 0 .2vw 0 .2vw;
    border-bottom: solid #23242c 2vw;
    border-right: solid #23242c 2vw;
    border-left: solid #23242c 2vw;  
}
