.MenuList {
    // background-color: var(--tan-1);
    background-color: black;
    border: .2vmin solid blanchedalmond;
    // border-radius: 2vmin;
    margin: 3vmin 0;
    padding: 3vmin;
    color: blanchedalmond;    
}