.CategoryList {
    background-color: #ecd3bf;
    color: #000;
    list-style: none;
    font-size: 3vw;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1fr;
    gap: 1.8vw;
    margin-bottom: 1vw;
    margin-top: 2vw;
    margin-bottom: -1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-top: solid #23242c 2vw;
    border-right: solid #23242c 2vw;
    border-left: solid #23242c 2vw;
    }
    
    .CategoryList li {
    text-align: center;
    border-radius: .5vw;
    margin-bottom: .5vw;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: blanchedalmond;
    color: black;
    }
    
    .CategoryList li.active {
    color: black;
    background-color: var(--tan-1);
    border: 2vw solid blanchedalmond;
    }
    