.CategoryList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    border: .2vmin solid var(--tan-3);
    display: grid;
    grid-template-columns: 3.6fr 3.5fr 3fr;
    grid-template-rows: 1fr;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    }
    
    .CategoryList li.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    }
    