@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@100&display=swap');

:root {
    --white: #FFFFFF;
    --tan-1: #FBF9F6;
    --tan-2: #E7E2DD;
    --tan-3: #E2D9D1;
    --tan-4: #000000;
    --orange: #F67F00;
    --text-light: #968c84;
    --text-dark: #615954;
    background-image: url('https://img.freepik.com/free-photo/blue-gold-marble-textured-background_53876-101585.jpg?w=2000&t=st=1674870898~exp=1674871498~hmac=d6e1c94853ebd3c80fa020ccfde36f227bb71f8b380cf9350b259824c0d1bb50');  
   /* background-image: url('https://static.vecteezy.com/system/resources/previews/005/676/286/original/abstract-colorful-background-wallpaper-mixing-acrylic-paints-modern-art-paint-marble-texture-alcohol-ink-colors-translucent-free-vector.jpg'); */
   /*background-image: ('https://img.freepik.com/free-vector/realistic-liquid-marble-background-with-gold_23-2148897013.jpg');  */
   background-size: cover;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'Italiana', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 1vmin;
    height: 100vh;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  #root {
    height: 100%;
  }

  .align-ctr {
    text-align: center;
  }

  .align-rt {
    text-align: right;
  }

  .smaller {
    font-size: smaller;
  }

  .flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

    /*total background / checkout/ hunry*/
  .flex-col {
    flex-direction: column;
  }

  .flex-j-end {
    justify-content: flex-end;
  }

  /*total background / checkout/ hunry*/
  /* .scroll-y {
    overflow-y: scroll;
  } */

  .section-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--tan-1); */
    background-color: black;
    color: blanchedalmond;
    border: .1vmin solid blanchedalmond; 
    border-radius: 1vmin;
    padding: .6vmin;
    text-align: center;
    font-size: 2vmin;
  }

  /*Login/Signup email password*/
  .form-container {
    padding: 3vmin;
    padding-left: 8vmin;
    padding-right: 8vmin;
    margin-left: 12vmin;
    margin-right: 12vmin;
    /* background-color: var(--tan-1); */
    border: .3vmin solid white; 
    /* box-shadow:  5px 10px wheat; */
    /* border-radius: 1vmin; */
    /* background-color: blanchedalmond; */
  } 

  /*Login/Signup*/
  p.error-message {
    color: var(--orange);
    text-align: center;
  }

  /*Login/Signup*/
  form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: black;
  } 

  /*Login/Signup*/
  label {
    font-size: 4vmin;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  /*Login/Signup*/
  input {
    font-family: 'Italiana', serif;
    padding: 1vmin;
    background-color:transparent;
    font-size: 2vmin;
    border: .2vmin solid white;
    border-radius: .5vmin;
    color: black;
    background-image: none !important;
    /* prevent lastpass */
    outline: none;
  }

  /*Login/Signup*/
  input:focus {
    border-color: black;
  }

  /*all buttons*/
  button, a.button {
    font-family: 'Italiana', serif;
    margin: 1vmin;
    padding: 1vmin;
    color: black;
    font-size: 3vmin;
    text-decoration: none;
    text-align: center;
    border: .1vmin solid white;
    border-radius: .5vmin;
    outline: none;
    cursor: pointer;
  }

  /*add to cart button*/
  button.btn-sm {
    font-size: 2.3vmin;
    background-color: transparent;
    color: blanchedalmond;
    border: .1vmin solid blanchedalmond;
    padding: .6vmin .8vmin;
  }
  button.btn-sm:hover {
    font-size: 2.3vmin;
    background-color: blanchedalmond;
    color: black;
    border: .1vmin solid blanchedalmond;
    padding: .6vmin .8vmin;
  }


  /*quantity in cart*/
  button.btn-xs {
    font-size: 4vmin;
    padding: .1vmin 1vmin;
    background-color: transparent;
    color: black;
    background-color: blanchedalmond;
    font-weight: 1000;
  }

  button:disabled, form:invalid button[type="submit"] {
    cursor: not-allowed;
    background-color: transparent;
  }

  /*sign in submit light up*/
  button[type="submit"] {
    grid-column: span 2;
    margin: 1vmin 0 0;
  }

  a.link {
  color: blanchedalmond;
  text-decoration: none;
  }
