.Arabica {
    background-color: black;
    width: 100%;
    height: 85%;
    margin: 0 auto;
    // -webkit-filter: grayscale(100%);
    // filter: grayscale(100%);
    // opacity: .7;
    display: flex;
    align-items: center;
   // justify-content: flex-start;
    font-size: 03rem;
    //padding-right: 50%;
    padding-left: 2%;
    padding-right: 15%;

}

.blurb {
    color: wheat;
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    min-width: 20%;
    max-width: 50%;
    text-align: justify;
}

.banner {
    background-color: wheat;
    padding-right: 20%;
    padding-left: 05%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5%;
}