.LineItem {
    width: 100%;
    display: grid;
    grid-gap: 20%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 1vmin 0;
    border-top: .1vmin solid blanchedalmond;
    font-size: 2.5vw;
    align-items: center;
    padding-left: 1%;
    }
    
    .LineItem:last-child {
    border-bottom: .1vmin solid blanchedalmond;
    }
    
    .LineItem .qty {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 3.3vw;
    }
    
    .LineItem .extPrice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.3vw;
    padding-right: 10%;
    color: blanchedalmond;
    }
    
    .LineItem button {
    margin: 0;
    }
    